#map {
  height: 100%;
}

#kofibutton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  z-index: 400;
}

#settingsbutton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0px;
  z-index: 400;
}

#info-icon {
  cursor: pointer;
}

#pop-cat {
  border: 1px solid black;
  border-radius: 0.4em;
  padding: 5px;
}

.pop-details {
  color: gray;
}

#pop-links {
  margin-top: 1em;
  white-space: nowrap;
}

#pop-cat img {
  vertical-align: middle;
  height: 1em;
  width: 1em;
}
