#map {
  height: 100%;
}

.leaflet-popup-content {
  font-size: 2em;
}

#kofibutton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0px;
  z-index: 400;
}

#pop-cat {
  border: 1px solid black;
  border-radius: 0.4em;
  padding: 5px;
}

#pop-cat img {
  vertical-align: middle;
  height: 1em;
  width: 1em;
}
